* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    padding: 10px 0 80px 30px;
    font-size: 1.4rem;
}

a {
    color: #0000ff;
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 50px;
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
}

.header .header__title {
    grid-column: 2;
}

.main {
    display: grid;
    grid-template-rows: auto;
    width: 90%;
    gap: 20px;
    margin: 0 auto;
}

.main .main__data {
    display: grid;
    grid-template-rows: auto;
    gap: 15px;
}

.main__data .data__title {
    border-bottom: 1px solid #757575;
}

.main__data .data__container {
    display: grid;
    grid-template-columns: 2fr 3fr 0.5fr;
    gap: 10px;
}

.main__data .data__label {
    grid-column: 1;
    color: #757575;
}

.main__data .data__info {
    grid-column: 2;
}

.main__data .data__list {
    padding: 0 0 0 30px;
}

@media (max-width: 400px) {
    .header {
        margin-bottom: 30px;
    }
}